<%= form_for(@order_list) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <% if current_page?(action: 'copy_set') %>
    <div class="form-group">
      <%= f.label :project_id, '顧客' %>
      <%= f.collection_select(:project_id, Project.all, :id, :name, { prompt: "未選択" }, { class: 'form-control' }) %>
    </div>
  <% else %>
    <%= f.hidden_field :project_id, value: @project.id  %>
  <% end %>
  
  <div class="form-group">
    <%= f.label :name, '発注リスト名' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  
  <hr />
  
  <h2>部材登録</h2>
  
  <%= link_to_add_association '明細を追加', f, :line_items,
    class: 'btn btn-default',
    data: {
      association_insertion_node: '#detail-association-insertion-point',
      association_insertion_method: 'append' }
   %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">部材カテゴリー</th>
          <th scope="col">部材</th>
          <th scope="col">単価</th>
          <th scope="col">数量</th>
          <th scope="col">小計</th>
          <th scope="col">発注先</th>
          <th scope="col">納期</th>
          <th scope="col">備考</th>
          <th scope="col">支払い金額</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="detail-association-insertion-point">
        <%= f.fields_for :line_items do |a| %>
        <%= render 'line_item_fields', f: a %>
        <% end %>
      </tbody>
      <script>
        $(document).on('change', '.category-switch', function(){
          var lineItemObjectId = $(this).attr('id');
          var value = $(this).val();
          $.ajax({
            type: "GET",
            url: "<%= ajax_select_url%>",
            data: `value=${value}&line_item_object_id=${lineItemObjectId}`
          });
        });
        $(document).on('change', '.quantity-field', function(){
          var tarId = $(this).attr('id');
          var tarQuantity = $(this).val();
          var escapeTarId = tarId.replace(/[ !"#$%&'()*+,.\/:;<=>?@\[\\\]^`{|}~]/g, "\\$&");
          var tarPrice = $('#' + escapeTarId + 'price').val();
          var tarSubTotal = tarPrice * tarQuantity;
          $('#' + escapeTarId + 'subtotal').val(tarSubTotal.toString().replace(/(\d)(?=(\d{3})+$)/g , '$1,'));
        });
      </script>
    </table>
  </div>

  <%= f.submit '登録する', class: 'btn btn-primary btn-block' %>
<% end %>