<%= form_for(@order_list, url: copy_order_list_path(@old_order_list)) do |f| %>
  <div class="form-group">
    <%= f.label :project_id, '顧客' %>
    <%= f.collection_select(:project_id, Project.all, :id, :name, { prompt: "未選択" }, { class: 'form-control' }) %>
  </div>
  
  <div class="form-group">
    <%= f.label :name, '発注リスト名' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
<% end %>

  <hr />

<%= form_for(@old_order_list) do |f| %>
  <h2>部材登録</h2>
  
  <%= link_to_add_association '明細を追加', f, :line_items,
    class: 'btn btn-default',
    data: {
      association_insertion_node: '#detail-association-insertion-point',
      association_insertion_method: 'append' }
   %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <% if current_user.root %>
            <th scope="col">object id</th>
          <% end %>
          <th scope="col">部材</th>
          <th scope="col">数量</th>
          <th scope="col">納期</th>
          <th scope="col">備考</th>
          <th scope="col">支払い金額</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="detail-association-insertion-point">
        <%= f.fields_for :line_items do |a| %>
        <tr class="nested-fields">
          <% if current_user.root %>
            <td><%= a.object_name %></td>
          <% end %>
          <td id="item-select-<%= a.object_name %>"><%= a.collection_select(:item_id, Item.all, :id, :name, {}, { class: 'form-control', disabled: true } ) %></td>
          <td><%= a.text_field :quantity, class: 'form-control', readonly: true %></td>
          <td><%= a.text_field :delivery_date, class: 'form-control date-picker', readonly: true %></td>
          <td><%= a.text_field :remark, class: 'form-control', readonly: true %></td>
          <td><%= a.text_field :paid, class: 'form-control', readonly: true %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= link_to '登録する', '', class: 'btn btn-primary btn-block', id: 'submit_button' %>

<script>
  $('#submit_button').click(function(e){
    $('#new_order_list').submit();
  });
</script>
