<tr class="nested-fields">
  <% if current_user.root %>
    <td><%= f.object_name %></td>
  <% end %>
  <td><%= collection_select(:item_category, :item_category_id, ItemCategory.all, :id, :name, { prompt: "未選択" }, { class: 'form-control category-switch', id: "#{f.object_name}" }) %></td>
  <td id="item-select-<%= f.object_name %>"><%= f.collection_select(:item_id, @items, :id, :name, { prompt: "未選択" }, { class: 'form-control' }) %></td>
  <td><%= f.text_field :unit_price, class: 'form-control unit-price-field', id: "#{f.object_name}-price" %></td>
  <td><%= f.text_field :quantity, class: 'form-control quantity-field', id: "#{f.object_name}-" %></td>
  <td><%= text_field :nouse, f.object_name, { placeholder: (f.object[:unit_price].to_i * f.object[:quantity].to_i).to_s(:delimited), id: "#{f.object_name}-subtotal", class: 'form-control', disabled: true } %></td>
  <td><%= f.collection_select(:partner_id, @partners, :id, :name, { prompt: "未選択" }, { class: 'form-control' }) %></td>
  <td><%= f.text_field :delivery_date, class: 'form-control date-picker' %></td>
  <td><%= f.text_field :remark, class: 'form-control' %></td>
  <td><%= f.text_field :paid, class: 'form-control' %></td>
  <td><%= link_to_remove_association '削除', f, class: 'btn btn-default' %></td>
</tr>