<h1>発注先一覧</h1>

<section>
  <%= link_to '新規発注先登録', new_partner_path, class: 'btn btn-lg btn-primary' %>
</section>

<hr />

<section>
  <% if @partners.any? %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <% if current_user.root %>
              <th>ID</th>
            <% end %>
            <th>発注先名</th>
            <th>担当者</th>
            <th>オーダーリスト内の部材数</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @partners.each do |partner| %>
          <tr>
            <% if current_user.root %>
              <td><%= partner.id %></td>
            <% end %>
            <td><%= link_to partner.name, partner_path(partner) %></td>
            <td><%= partner.staff %></td>
            <td><%= LineItem.where(partner_id: partner.id).count %></td>
            <td>
              <%= link_to '詳細', partner_path(partner), class: 'btn btn-secondary' %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <%= paginate @partners %>
  <% else %>
    <p>発注先はまだありません</p>
  <% end %>
</section>
