<h1>ユーザー一覧</h1>

<section>
  <% if @users.any? %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>名前</th>
            <th>email</th>
            <th>root</th>
            <th>admin</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user_path(user) %></td>
            <td><%= user.email %></td>
            <td><%= user.root %></td>
            <td><%= user.admin %></td>
            <td>
              <%= link_to '詳細', user_path(user), class: 'btn btn-secondary' %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <%= paginate @users %>
  <% end %>
</section>
