<h1><%= @project.name %> 邸の新規発注書登録</h1>
<section>
  <%= form_for(@order) do |f| %>
  
    <div class="form-group">
      <%= f.label :name, '発注名称' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  
    <div class="form-group">
      <%= f.label :document_date, '作成日' %>
      <%= f.text_field :document_date, class: 'form-control' %>
    </div>
    
    <%= f.hidden_field :project_id, value: @project.id  %>
    
    <div class="form-group">
      <%= f.label :partner_id, '発注先' %>
      <%= f.collection_select(:partner_id, Partner.all, :id, :name, { prompt: "未選択" }, { class: 'form-control' }) %>
    </div>
    
    <hr />
    
    <h2>部材登録</h2>
    
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">部材カテゴリー</th>
            <th scope="col">部材</th>
            <th scope="col">数量</th>
            <th scope="col">納期</th>
            <th scope="col">小計</th>
            <th scope="col">備考</th>
          </tr>
        </thead>
        <tbody>
          <% @order.line_items.each_with_index do |line_item, index| %>
            <% if line_item %>
              <%= f.fields_for :line_items do |a| %>
              <tr class="nested_once">
                <td><%= collection_select(a, :item_category_id, ItemCategory.all, :id, :name, { prompt: "未選択" }, { class: 'form-control', id: "category-id-switch-#{index}" }) %></td>
                <td id="item-id-param-<%= index %>"><%= a.collection_select(:item_id, @items, :id, :name, { prompt: "未選択" }, { class: 'form-control' }) %></td>
                <td><%= a.text_field :quantity, class: 'form-control' %></td>
                <td><%= a.text_field :delivery_date, class: 'form-control' %></td>
                <td></td>
                <td><%= a.text_field :remark, class: 'form-control' %></td>
              </tr>
              <script>
                $("#category-id-switch-<%= index %>").change(function(e){
                  var value = $("#category-id-switch-<%= index %>").val();
                  var index = "<%= index %>";
                  $.ajax({
                    type: "GET",
                    url: "<%= select_url%>",
                    data: `value=${value}&index=${index}`
                  });
                });
              </script>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= f.submit '登録する', class: 'btn btn-primary btn-block' %>
  <% end %>
</section>

