<%= form_for(@order) do |f| %>

  <%= f.hidden_field :project_id, value: @project.id  %>
  
  <div class="form-group">
    <%= f.label :name, '発注名称' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :document_date, '作成日' %>
    <%= f.text_field :document_date, class: 'form-control date-picker' %>
  </div>
  
  <div class="form-group">
    <%= f.label :staff, '担当' %>
    <%= f.collection_select(:staff, User.all, :name, :name, { prompt: "未選択" }, { class: 'form-control' }) %>
  </div>
  
  <div class="form-group">
    <%= f.label :partner_id, '発注先' %>
    <%= f.collection_select(:partner_id, @partner, :id, :name, { prompt: "未選択" }, { class: 'form-control' }) %>
  </div>
  
  <div class="form-group">
    <%= f.label :destination, '納入先' %>
    <%= f.select :destination, [['自社', 'true'], ['建築先', 'false']], {}, { class: 'form-control' } %>
  </div>
  
  <div class="form-group">
    <%= f.label :remark, '備考' %>
    <%= f.text_area :remark, class: 'form-control', size: '20x6' %>
  </div>
  
  <hr />
  
  <h2>部材登録</h2>
  
  <%= f.collection_check_boxes(:line_item_ids, @project.line_items.all, :id, :item_id) do |b| %>
    <%= b.label { b.check_box + 'hoge' } %><p>hoge<%= Item.find(b.text).name %></p>
  <% end %>

  <%= f.submit '登録する', class: 'btn btn-primary btn-block' %>
<% end %>