<h1><%= @order.name %> | <%= @order.project.name %>の発注書の詳細</h1>
<section>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">項目</th>
        <th scope="col">内容</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">id</th>
        <td><%= @order.id %></td>
      </tr>
      <tr>
        <th scope="row">発注名称</th></th>
        <td><%= @order.name %></td>
      </tr>
      <tr>
        <th scope="row">担当</th></th>
        <td><%= @order.staff %></td>
      </tr>
      <tr>
        <th scope="row">作成日</th>
        <td><%= @order.document_date %></td>
      </tr>
      <tr>
        <th scope="row">発注先</th>
        <td><%= @order.partner.name %></td>
      </tr>
      <tr>
        <th scope="row">発注合計</th>
        <td><%= (total = calc_total(@order)).to_s(:delimited) %>円</td>
      </tr>
      <tr>
        <th scope="row">発注合計(税込)</th>
        <td><%= (total * 1.08).floor.to_s(:delimited) %>円</td>
      </tr>
      <% if @order.discount %>
        <tr>
          <th scope="row">値引き額</th>
          <td><span style="color: red;">-<%= @order.discount.to_s(:delimited) %>円</span></td>
        </tr>
        <tr>
          <th scope="row">値引き後発注合計</th>
          <td><%= ((total * 1.08).floor - @order.discount).to_s(:delimited) %>円</span></td>
        </tr>
      <% end %>
      <tr>
        <th scope="row">支払い合計</th>
        <td><%= calc_paid_total(@order).to_s(:delimited) %>円</td>
      </tr>
      <tr>
        <th scope="row">備考欄</th>
        <td><%= @order.remark %></td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h2>明細</h2>
  <%= render 'line_items/line_items', line_items: @order.line_items %>
</section>

<section>
  <%= link_to 'この顧客の発注管理へ', order_lists_project_path(id: @order.project_id), class: 'btn btn-lg btn-secondary' %>
  <%= link_to '編集', edit_order_path(@order), class: 'btn btn-lg btn-warning' %>
  <%= link_to '削除', @order, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-lg btn-danger' %>
  <%= link_to 'PDF', request.path_info + '.pdf', class: 'btn btn-lg btn-info' %>
</section>