<h1>Order Document</h1>

<div id="documentHeaderWrap" class="clearfix">
  <table id="documentHeaderLeft">
    <tr>
      <th>order day</th>
      <td><%= @order.document_date %></td>
    </tr>
    <tr>
      <th>building spot</th>
      <td><%= @order.project.name %> sama tei</td>
    </tr>
    <tr>
      <th>staff</th>
      <td><%= @order.staff %></td>
    </tr>
  </table>
  <table id="documentHeaderRight">
    <tr>
      <td>kaisyamei</td>
    </tr>
    <tr>
      <td>1-2-3 Mukaihara, Itabashi-ku, Tokyo, Japan</td>
    </tr>
    <tr>
      <td>tel: 1234-1234-1234</td>
    </tr>
  </table>
</div>

<table id="partnerTable">
  <tr>
    <th>partner name</th>
    <td><%= Partner.find(@order.partner_id).name %> onchu</td>
  </tr>
  <tr>
    <th>staff name</th>
    <td><%= Partner.find(@order.partner_id).staff %> sama</td>
  </tr>
</table>

<% if @order.line_items.any? %>
  <table id="orderDetail">
    <thead>
      <tr>
        <th>category</th>
        <th>item code</th>
        <th>item name</th>
        <th>unit</th>
        <th>price</th>
        <th>quqntity</th>
        <th>sub total</th>
        <th>date</th>
        <th>remark</th>
      </tr>
    </thead>
    <tbody>
    <% @order.line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.item.item_category.name %></td>
        <td></td>
        <td><%= line_item.item.name %></td>
        <td><%= line_item.item.unit %></td>
        <td><%= line_item.item.price.to_s(:delimited) %></td>
        <td><%= line_item.quantity %></td>
        <td><%= calc_sub_total(line_item).to_s(:delimited) %></td>
        <td><%= line_item.delivery_date %></td>
        <td><%= line_item.remark %></td>
      </tr>
    <% end %>
  </table>
<% else %>
<p id='orderDetail'>明細はありません</p>
<% end %>

<div id="documentFooterWrap" class="clearfix">
  
  <table id="documentFooterLeft">
    <tr>
      <th>destination</th>
      <% if @order.destination %>
        <td>tokyo shibuya tomigaya 3-3-3</td>
      <% else %>
        <td><%= @order.project.adress %></td>
      <% end %>
    </tr>
    <tr>
      <th>remark</th>
      <td></td>
    </tr>
  </table>
  
  <table id="documentFooterRight">
    <tr>
      <th>total</th>
      <td>1234,000</td>
    </tr>
    <tr>
      <th>tax</th>
      <td>98,720</td>
    </tr>
    <tr>
      <th>tax total</th>
      <td>1,337,720</td>
    </tr>
  </table>
  
</div>