<h1>発　注　書</h1>

<div id="documentHeaderWrap" class="clearfix">
  <table id="documentHeaderLeft">
    <tr>
      <th>発注日</th>
      <td><%= @order.document_date %></td>
    </tr>
    <tr>
      <th>建築現場名</th>
      <td><%= @order.project.name %> 様邸</td>
    </tr>
    <tr>
      <th>担当</th>
      <td><%= @order.staff %></td>
    </tr>
  </table>
  <table id="documentHeaderRight">
    <tr>
      <td>株式会社 サンプルコーポレーション</td>
    </tr>
    <tr>
      <td>〒150-0001<br />東京都港区南青山1-2-3</td>
    </tr>
    <tr>
      <td>電話番号: 0120-1234-1234</td>
    </tr>
  </table>
</div>

<table id="partnerTable">
  <% if @order.partners.any? %>
  <tr>
    <th>発注先名</th>
    <td><%= @order.partners.first.name %> 御中</td>
  </tr>
  <tr>
    <th>ご担当者名</th>
    <td><%= @order.partners.first.staff %> 様</td>
  </tr>
  <% else %>
  <tr>
    <td>発注書に部材が登録されていません</td>
  </tr>
  <% end %>
</table>

<% if @order.line_items.any? %>
  <table id="orderDetail">
    <thead>
      <tr>
        <th>カテゴリ</th>
        <th>部材名</th>
        <th>単位</th>
        <th>単価</th>
        <th>数量</th>
        <th>金額</th>
        <th>納品日</th>
        <th>備考</th>
      </tr>
    </thead>
    <tbody>
    <% @order.line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.item.item_category.name %></td>
        <td><%= line_item.item.name %></td>
        <td><%= line_item.item.unit %></td>
        <td><%= line_item.unit_price.to_s(:delimited) %></td>
        <td><%= line_item.quantity %></td>
        <td><%= calc_sub_total(line_item).to_s(:delimited) %></td>
        <td><%= line_item.delivery_date %></td>
        <td><%= line_item.remark %></td>
      </tr>
    <% end %>
  </table>
<% else %>
<p id='orderDetail'>明細はありません</p>
<% end %>

<div id="documentFooterWrap" class="clearfix">
  
  <table id="documentFooterLeft">
    <tr>
      <th>納入先</th>
      <% if @order.destination %>
        <td>〒150-0001 東京都港区南青山1-2-3</td>
      <% else %>
        <td><%= @order.project.adress %></td>
      <% end %>
    </tr>
    <tr>
      <th>備考欄</th>
      <td><%= @order.remark %></td>
    </tr>
  </table>
  
  <table id="documentFooterRight">
    <tr>
      <th>合計</th>
      <td>¥<%= (total = calc_total(@order)).to_s(:delimited) %></td>
    </tr>
    <tr>
      <th>消費税</th>
      <td>¥<%= (total * 0.08).floor.to_s(:delimited) %></td>
    </tr>
    <tr>
      <th>税込合計</th>
      <td>¥<%= (total * 1.08).floor.to_s(:delimited) %></td>
    </tr>
    <% if @order.discount > 0 %>
      <tr>
        <th scope="row">値引き額</th>
        <td><span style="color: red;">-¥<%= @order.discount.to_s(:delimited) %></span></td>
      </tr>
      <tr>
        <th scope="row">値引き後発注合計</th>
        <td>¥<%= ((total * 1.08).floor - @order.discount).to_s(:delimited) %></span></td>
      </tr>
    <% end %>
  </table>
  
</div>