<%= form_for(@project) do |f| %>
  <div class="form-group">
    <%= f.label :code, '顧客番号' %>
    <%= f.text_field :code, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :name, '顧客名' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :current_postal_code, '現郵便番号' %>
    <%= f.text_field :current_postal_code, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :current_adress, '現住所' %>
    <%= f.text_field :current_adress, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :current_phone, '現固定番号' %>
    <%= f.text_field :current_phone, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :postal_code, '建築地郵便番号' %>
    <%= f.text_field :postal_code, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :adress, '建築地住所' %>
    <%= f.text_field :adress, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :phone, '建築地固定電話' %>
    <%= f.text_field :phone, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :owner_phone, 'ご主人携帯電話番号' %>
    <%= f.text_field :owner_phone, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :remark, '備考' %>
    <%= f.text_area :remark, class: 'form-control', size: '20x6' %>
  </div>
  
  <div class="form-group">
    <%= f.label :recipt, '売り上げ' %>
    <%= f.text_field :recipt, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :contract_date, '契約日' %>
    <%= f.text_field :contract_date, class: 'form-control date-picker' %>
  </div>
  
  <div class="form-group">
    <%= f.label :finish_date, '引渡日' %>
    <%= f.text_field :finish_date, class: 'form-control date-picker' %>
  </div>

  <%= f.submit '登録する', class: 'btn btn-primary btn-block' %>
<% end %>