<h1>顧客一覧</h1>

<section>
  <% if @projects.any? %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>顧客名</th>
            <th>建築地住所</th>
            <th>現固定電話</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.id %></td>
            <td><%= link_to project.name + ' 邸', project_path(project) %></td>
            <td><%= project.adress %></td>
            <td><%= project.current_phone %></td>
            <td>
              <%= link_to '顧客情報詳細', project_path(project), class: 'btn btn-link' %>
              <%= link_to '発注管理', orders_project_path(project.id), class: 'btn btn-link' %>
              <%= link_to '発注書作成', new_order_path(project.id), class: 'btn btn-link' %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</section>

<section>
  <%= link_to '新規案件登録', new_project_path, class: 'btn btn-lg btn-primary' %>
</section>
