<h1>顧客一覧</h1>

<section>
  <%= link_to '新規顧客登録', new_project_path, class: 'btn btn-lg btn-primary' %>
</section>

<hr />

<section>
  <% if @projects.any? %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <% if current_user.root %>
              <th>ID</th>
            <% end %>
            <th>顧客番号</th>
            <th>顧客名</th>
            <th>建築地住所</th>
            <th>発注書数</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @projects.each do |project| %>
          <tr>
            <% if current_user.root %>
              <td><%= project.id %></td>
            <% end %>
            <td><%= project.code %></td>
            <td><%= link_to project.name + ' 邸', project_path(project) %></td>
            <td><%= project.adress %></td>
            <td><%= project.orders.count %></td>
            <td>
              <%= link_to '発注管理', order_lists_project_path(project.id), class: 'btn btn-success' %>
              <%= link_to '詳細', project_path(project), class: 'btn btn-secondary' %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <%= paginate @projects %>
  <% else %>
    <p>顧客はまだありません</p>
  <% end %>
</section>
