<h1><%= @project.name %>の発注書一覧</h1>

<section>
  <% if @project.orders.any? %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>発注名称</th>
            <th>作成日</th>
            <th>合計金額</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @project.orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.name %></td>
            <td><%= order.document_date %></td>
            <td></td>
            <td>
              <%= link_to '詳細', order_path(order), class: 'btn btn-secondary' %>
              <%= link_to '編集', edit_order_path(order), class: 'btn btn-warning' %>
              <%= link_to '削除', order, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</section>

<section>
  <%= link_to '発注書新規作成', new_order_path(@project.id), class: 'btn btn-lg btn-primary' %>
</section>