<%= form_for(@item) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="form-group">
    <%= f.label :item_category_id, 'カテゴリー' %>
    <%= f.collection_select(:item_category_id, ItemCategory.all, :id, :name, { prompt: "未選択" }, { class: 'form-control' }) %>
  </div>
  
  <div class="form-group">
    <%= f.label :name, '部材名' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :kana, 'よみがな' %>
    <%= f.text_field :kana, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :unit, '単位' %>
    <%= f.select :unit, [['㎡', '㎡'], ['枚', '枚'], ['個', '個'], ['本', '本'], ['件', '件'], ['m', 'm'], ['立米', '立米'], ['式', '式'], ['束', '束'], ['坪', '坪'], ['畳', '畳']], { prompt: "未選択" }, { class: 'form-control' } %>
  </div>
  
  <%= f.submit '登録する', class: 'btn btn-primary btn-block' %>
<% end %>