<% if line_items.any? %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <% if current_user.root %>
              <th>ID</th>
            <% end %>
            <th>名前</th>
            <% if current_page?(controller: 'projects', action: 'orders') %>
              <th>発注書名</th>
            <% end %>
            <th>単価</th>
            <th>数量</th>
            <th>発注単位</th>
            <th>小計</th>
            <th>発注先</th>
            <th>納期</th>
            <th>備考</th>
            <th>支払い金額</th>
          </tr>
        </thead>
        <tbody>
          <% line_items.order('id desc').each do |line_item| %>
            <% if line_item.carts.any? %>
              <tr class="table-dark">
            <% else %>
              <tr>
            <% end %>
                <% if current_user.root %>
                  <td><%= line_item.id %></td>
                <% end %>
                <td><%= line_item.item.name %></td>
                <% if current_page?(controller: 'projects', action: 'orders') %>
                  <td><%= line_item.order_list.name %></td>
                <% end %>
                <td class="tAR"><%= line_item.unit_price.to_s(:delimited) %>円</td>
                <td><%= line_item.quantity %></td>
                <td><%= line_item.item.unit %></td>
                <td class="tAR"><%= calc_sub_total(line_item).to_s(:delimited) %>円</td>
                <td><%= line_item.partner.name %></td>
                <td><%= line_item.delivery_date %></td>
                <td><%= line_item.remark %></td>
                <td class="tAR"><%= line_item.paid.to_s(:delimited) %>円
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
  <p>明細はありません</p>
  <% end %>